<div class="content" role="main">
  <mat-toolbar>
    <mat-toolbar-row class="screen-over-960">
      <div class="logo-container">
        <button mat-flat-button (click)="goToMain()">Exchange</button>
      </div>
      <div class="tools-container">

      </div>
      <div class="user-container" *ngIf="isLogged">
        <div class="user-name" *ngIf="isLogged">
          Logged in as {{ userName }}
        </div>
        <button mat-flat-button color="accent" (click)="logout()">Logout</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-divider></mat-divider>

</div>
