@import '~src/styles';

.main-container {
  display: flex;
  overflow: auto;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.pusher {
  flex: 1;
}

.button-container {
  display: flex;
}

mat-card {
  flex: 1;
  margin: .5rem;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.login-form {
  min-width: 150px;
  max-width: 350px;
  width: 100%;
  mat-form-field {
    width: 100%;
  }
}
